
.formContainer {
	width: 100%;
}

.card{
	width: 378px;
	margin: 0px auto;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 12px;

}

.typo {
	color: white;
	text-align: center;
}

.button {
	margin-top: 20px;
}

.checkboxoError {
	color: var(--color-danger-500);
	font-size: var(--font-size-s);
	margin-top: 4px;
}